$brightBlue: hsl(220, 98%, 61%);
$checkBackground: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
$fontFamily: 'Josefin Sans', sans-serif;
$fontSize: 1.125rem;

// LIGHT THEME
$veryLightGray: hsl(0, 0%, 98%);
$veryLightBluishGray: hsl(236, 33%, 92%);
$lightGrayishBlue: hsl(233, 11%, 84%);
$darkGrayishBlue: hsl(236, 9%, 61%);
$veryDarkGrayishBlue: hsl(235, 19%, 35%);

// DARK THEME
$veryDarkBlue: hsl(235, 21%, 11%);
$veryDarkDesaturatedBlue: hsl(235, 24%, 19%);
$lightGrayishBlueDark: hsl(234, 39%, 85%);
$lightGrayishBlueHover: hsl(236, 33%, 92%);
$darkGrayishBlueDark: hsl(234, 11%, 52%);
$veryDarkGrayishBlueDark: hsl(233, 14%, 35%);
$veryDarkGrayishBlueHover: hsl(237, 14%, 26%);